@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="text-align:center;background-color:orange;font-size:20px">
       <b>Shorna Tutorial</b>
    </div>
    <div>
        <pre>
           Hi sir 
           we just need to your Email verify for Complete your Registration .Thank you
           Click <a href="ViewBag.ConfirmationLink">Here</a>
        </pre>
    </div>
</body>
</html>
